[submodule ".registry"]
	path = .registry
	url = https://github.com/deepskydetail/deepskydetail.r-universe.dev
	branch = HEAD
[submodule "neuralnet"]
	path = neuralnet
	url = https://github.com/bips-hb/neuralnet
